.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .height {
    height: 100vh;
  }
  
  .search {
    position: relative;
    box-shadow: 0 0 12px rgb(253 0 0);
    width: calc(100% - 57%);
  }
  
  .search input {
    display: flex;
    flex-wrap: inherit;
    height: 29px;
    text-indent: 5px;
    border: 1px solid #c0400f;
    width: 592px;
    /* margin: 0px; */
    padding: -16px;
    margin-left: 37px;
    left: 20px;
  }
  
  /* .search {
    left: 91px;
  } */
  
  .search input:focus {
    box-shadow: none;
    border: 1px solid rgb(255, 0, 0);
  }
  
  .search .fa-search {
    position: absolute;
    /* top: 20px;
      left: 16px */
  }
  
  .search button {
    position: absolute;
    border: #e01d1d;
    /* top: 4px; */
    right: 3px;
    height: 25px;
    width: 61px;
    background: #e01d1d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search {
    position: relative;
    box-shadow: 0 0 12px rgb(253 0 0);
    border: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fa,
  .fas {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    top: 7px;
    left: 9px;
  }
  
  .card {
    margin: 10px;
    box-sizing: border-box;
    padding: 5px;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  img {
    height: 300px;
    width: 200px;
  }
  
  button.example-icon {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .display-flex {
    display: flex;
  }
  
  .headerComponents {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .headerComponents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  
  /* rounded image  */
  
  img.rounded-circle {
    display: flex;
    border-radius: 97px;
    height: 82px;
    width: 86px;
  }
  
  .cart-value{
    position: absolute;
    top:0;
    right: 0;
    background: white;
    border-radius: 50%;
    padding:4px 10px;
  }
  
  /* gloww */
  h1 {
    text-align: center;
    font-size: 60px;
    font-family: "century gothic";
    color: #a1f309f3;
    text-shadow: 0 0 5px rgb(223, 13, 125), 0 0 10px #fff,
      0 0 20px rgb(41, 128, 0), 0 0 30px rgb(11, 255, 23),
      0 0 40px rgb(24, 243, 16), 0 0 55px rgb(62, 226, 12),
      0 0 70px rgb(20, 228, 82);
  }
  
  
  /* footer */
  footer.page-footer.font-small.mdb-color.pt-4 {
    background-color: #bcc0bf;
  }
  
  .row.roundimg {
      justify-content: space-between;
      display: flex;
  }
  .row.roundimg h5{
      justify-content: center;
      display: flex;
      align-items: center;
  }
  
  /* next and previous button */
  
  .nextPreviousButtons {
      justify-content: center;
      align-items: center;
      display: flex;
  }
  a {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
    }
    
    a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .previous {
      background-color: #f1f1f1;
      color: black;
    }
    
    .next {
      background-color: #4CAF50;
      color: white;
    }
    
    .round {
      border-radius: 50%;
    }