/* footer */
footer.page-footer.font-small.mdb-color.pt-4 {
    background-color: #bcc0bf;
  }
  
  .row.roundimg {
      justify-content: space-between;
      display: flex;
  }
  .row.roundimg h5{
      justify-content: center;
      display: flex;
      align-items: center;
  }
  